body {
  background: #0b1a33;
  font-family: Arial;
  color: white;
  margin: 0;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: gold;
}

.card {
  background: #1c2b4a;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: gold;
  border: none;
}

.logout {
  margin-top: 20px;
  background: red;
}
